<!DOCTYPE html>
<html>
    <head>
        <title>Textitor</title>
    </head>

    <body>
          <div class="parent">
            <div class="btn-group" role="group">

                <button class="btn1" id="bold" onclick="styleEvent(styles.bold)"><i class="fas fa-bold"></i></button>
                <button class="btn1" id="italics" onclick="styleEvent(styles.italics)"><i class="fas fa-italic"></i></button>
                <button class="btn1" id="strikeThrough" onclick=""><i class="fas fa-strikethrough"></i></button>
                <button class="btn1" id="alignLeft" onclick=""><i class="fas fa-align-left"></i></button>
                <button class="btn1" id="alighnCenter" onclick=""><i class="fas fa-align-center"></i></button>
                <button class="btn1" id="alignRight" onclick=""><i class="fas fa-align-right"></i></button>

              <!-- adds an html dropdown menu, need to add jscript to allow user to choose font size-->
                <select id = "font">
                  <option class="non" value ="8">8</option>
                  <option class="non" value ="9">9</option>
                  <option class="non" value ="10">10</option>
                  <option class="non" value ="11">11</option>
                  <option class="non" value ="12">12</option>
                  <option class="editable" value ="other">other</option>
                </select>
              <!-- maybe a bit too complex to add a user input option here-->
                <select id = "style">
                  <option class="non" value ="Times New Roman">Times New Roman</option>
                  <option class="non" value ="Courier">Courier</option>
                  <option class="non" value ="Georgia">Georgia</option>
                  <option class="non" value ="Arial">Arial</option>
                  <option class="non" value ="Calibri">Calibri</option>
                </select>
                <!-- getting odd format issues when using standard html button--->
                <button class="btn1" id="Save" onclick="">Save</button>
                <button class="btn1" id="Load" onclick="">Load</button>


            </div>


                <textarea id="textbox" name="textbox" placeholder="box" value="" autofocus="true" style="font-family: courier; font-size: 14px; line-height: normal; margin: 0; padding: 0;"></textarea>
                <iframe id="display" name="display" style="margin: 0; padding: 0;" ></iframe>
          </div>

          <script>
              var textbox = document.getElementById('textbox');
              var states = [];
              var currentState = new State(0, 0);
              var nullState = new State(-1, -1);
              var richText = "";
              var oldSelectionStart = 0;
              var oldSelectionEnd = 0;
              var lastTextLength = 0;
              var key;

              // kinda like an enumeration for styles
              var styles = {
                  bold: {startTag: "<b>", endTag: "</b>", id: "bold"},
                  italics: {startTag: "<i>", endTag: "</i>", id: "italics"}
              };

              function State(startIndex, endIndex) {
                  this.startIndex = startIndex;
                  this.endIndex = endIndex;
                  this.startTag = "<p>";
                  this.endTag = "</p>";
                  this.plainText = textbox.value.substring(startIndex, endIndex);
                  this.richText = this.startTag + this.plainText + this.endTag;

                  this.cloneState = function() {
                      var clone = new State();
                      clone.startIndex = this.startIndex;
                      clone.endIndex = this.endIndex;
                      clone.startTag = this.startTag;
                      clone.endTag = this.endTag;
                      clone.plainText = this.plainText;
                      clone.richText = this.richText;
                      return clone;
                  }

                  this.addStyle = function(styleType) {
                      this.startTag = this.startTag + styleType.startTag;
                      this.endTag = styleType.endTag + this.endTag;
                  }

                  this.removeStyle = function(styleType) {
                      this.startTag = this.startTag.replaceAll(styleType.startTag, "");
                      this.endTag = this.endTag.replaceAll(styleType.endTag, "");
                  }

                  this.setButtons = function() {
                      if (this.startTag.includes(styles.bold.startTag)) {
                          document.getElementById('bold').style.background = "gray"; //temporary
                      } else {
                          document.getElementById('bold').style.background = "lightgray"; //temporary
                      }
                      if (this.startTag.includes(styles.italics.startTag)) {
                          document.getElementById('italics').style.background = "gray"; //temporary
                      } else {
                          document.getElementById('italics').style.background = "lightgray"; //temporary
                      }
                  }
              }

              window.onload = function() {
                  window.frames['display'].document.head.innerHTML = "<style type='text/css'> * {font-family: courier; font-size: 14px; margin: 0px; padding: 0px; line-height: normal; word-wrap: break-word;} p{display: inline;} </style>";
                  nullState.startTag = ""; // zeroes out nullState
                  nullState.endTag = "";
                  // add load code here // if (docLoaded) currentState = getCursorState... else
                  document.getElementById('textbox').value = ""; //sets the value of the textbox to nothing on page load
              }

              textbox.onkeydown = function(e) {
                  key = e;
                  oldSelectionStart = textbox.selectionStart;
                  oldSelectionEnd = textbox.selectionEnd;
                  lastTextLength = textbox.value.length;
              }

              textbox.oninput = function() { // as soon as value of textbox changes
                  updateStates();
                  encode();
                  renderDisplay();
              }

              textbox.onkeyup = function() {
                  if (getCursorState(textbox.selectionStart) !== nullState) currentState = getCursorState(textbox.selectionStart); // make sure currentState is synced with cursorState
                  currentState.setButtons();
              }

              textbox.onmousedown = function() {
                  oldSelectionStart = textbox.selectionStart;
                  oldSelectionEnd = textbox.selectionEnd;
              }

              textbox.onmouseup = function() { // when click is released
                  if (getCursorState(textbox.selectionStart) !== nullState && textbox.selectionStart !== oldSelectionStart) currentState = getCursorState(textbox.selectionStart); // make sure currentState is synced with cursorState
                  currentState.setButtons();
              }

              function updateStates() {
                  if (getStateIndex(currentState) === -1) { // if its a new state
                      handleNewState(); // inserts a new state if it doesn't match neighboring states
                  }

                  //currentState.endIndex += -(oldSelectionEnd - oldSelectionStart) + (textbox.selectionStart - oldSelectionStart);
                  currentState.endIndex += textbox.value.length - lastTextLength; // NOTE: make this better
                  for (var i = getStateIndex(currentState) + 1; i < states.length; i++) {
                      console.log("in here");
                      states[i].startIndex += textbox.value.length - lastTextLength;
                      states[i].endIndex += textbox.value.length - lastTextLength;
                  }

                  //console.log("states length: " + states.length); // why doesn't states length decrease?
                  for (var i = 0; i < states.length; i++) { // fixme: only for states effected
                      //console.log("i: " + i);
                      if (states[i].endIndex <= states[i].startIndex) {
                          states[i].plainText = ""; // so that i can push states based on their plain text
                          states.splice(i, 1);
                      }
                  }
              }

              function handleNewState() {
                  if (indexOnBorder(currentState.startIndex)) { // new state is not in another state
                      if (getCursorState(oldSelectionStart) !== nullState && currentState.startTag === getCursorState(oldSelectionStart).startTag) { // if prior state exists and matches current state
                          currentState = getCursorState(oldSelectionStart);
                      } else if (getCursorState(oldSelectionStart + 1) !== nullState && currentState.startTag === getCursorState(oldSelectionStart + 1).startTag) { // if next state exists and matches current state
                          currentState = getCursorState(oldSelectionStart + 1);
                          currentState.startIndex -= textbox.value.length - lastTextLength; // correct start bound
                          currentState.startIndex -= textbox.value.length - lastTextLength; // move end bound which will be moved back when all bounds are corrected
                      } else {
                          insertState(currentState);
                      }
                  } else { // new state is in another state
                      var firstHalf = getCursorState(oldSelectionStart);
                      var secondHalf = firstHalf.cloneState(); // not in states[] yet
                      firstHalf.endIndex -= firstHalf.endIndex - oldSelectionStart;
                      secondHalf.startIndex = currentState.startIndex;
                      insertState(currentState);
                      insertState(secondHalf);
                  }
              }

              function indexOnBorder(index) {
                  if (index > 0 && getCursorState(index) === getCursorState(index - 1) && getCursorState(index) === getCursorState(index + 1)) return false;
                  else return true;
              }

              function encode() {
                  richText = "";
                  for (var i = 0; i < states.length; i++) {
                      states[i].plainText = textbox.value.substring(states[i].startIndex, states[i].endIndex); // sets the plain text for this state
                      states[i].richText = states[i].plainText.replaceAll("\n", "<br>"); // adds newlines in richtext NOTE: do the same for <, >, ect...
                      states[i].richText = states[i].startTag + states[i].richText + states[i].endTag; // adds the start and end tags to rich text
                      richText += states[i].richText;
                      console.log(states[i]);
                  }
              }

              function renderDisplay() {
                  window.frames['display'].document.body.innerHTML = richText;
                  console.log(richText);
              }

              function getCursorState(cursorIndex) {
                  if (cursorIndex === 0 && states.length > 0) { // handles cursor at index 0 if states has a state
                      return states[0]; // when cursor is at beginning of text and that state exists
                  } else { // if cursor is not at index 0
                      for (var i = 0; i < states.length; i++) {
                          if (cursorIndex > states[i].startIndex && cursorIndex <= states[i].endIndex) {
                              return states[i]; // return the state at the cursor if no changes were made
                          } // end of if
                      } // end of for
                  } // end of else
                  //console.log("index below or above bounds for a state");
                  return nullState;
              } // end of method

              // return the index of a given state from states[]
              function getStateIndex(state) {
                  for (var i = 0; i < states.length; i++) {
                      if (state === states[i]) return i;
                  }
                  return -1; // state not in states array
              }

              // inserts current states into states array based on relative position of that state to other states
              // inserts it after the last occerance where its index is >= the previous state
              function insertState(state) {
                  if (states.length < 1) { // if states[] is empty
                      states.push(state);
                  } else {
                      var i = 0;
                      for (i; i < states.length && states[i].endIndex <= state.startIndex; i++);
                      states.splice(i, 0, state);
                  }
              }

              function styleEvent(styleType) {
                  changeCurrentState(styleType); // check if there is text highlited
              }

              function changeCurrentState(styleType) {
                  var oldState = currentState;
                  currentState = new State(textbox.selectionStart, textbox.selectionStart);
                  currentState.startTag = oldState.startTag;
                  currentState.endTag = oldState.endTag;
                  if (currentState.startTag.includes(styleType.startTag)) {
                      currentState.removeStyle(styleType);
                  } else {
                      currentState.addStyle(styleType);
                  }
                  currentState.setButtons();
              }

              function printCurrentState() {
                  console.log(currentState);
              }

              function printStates() {
                  for (var i = 0; i < states.length; i++) {
                      console.log(states[i]);
                  }
              }

              // inserts a string into another string based on an index
              String.prototype.insert = function insert(index, string) {
                  if (index > 0) {
                      if (index < this.length) return this.substring(0, index) + string + this.substring(index, this.length);
                      else return this + string;
                  } else return string + this;
              };

              // removes the first occurance of a substring
              String.prototype.replaceAll = function replaceAll(oldSubstring, newSubstring) {
                  var regex = new RegExp(oldSubstring, "g");
                  return this.replace(regex, newSubstring);
              }

          </script>

      </body>
  </html>
