<h1>Textboxes#textbox</h1>

<br>
<br>

<div class="mycontainer">
    <div class="floatleft">
        <button type="button" name="button" onclick="normal()">Normal</button>
    </div>
    <div class="floatleft">
        <button type="button" name="button" onclick="strong()">Bold</button>
    </div>
    <div class="floatleft">
        <button type="button" name="button" onclick="italics()">Italics</button>
    </div>
</div>

<br>
<br>

<div class="floatleft">
    <!-- Style="Display: none;"-->
    <textarea id="textbox" name="textbox" placeholder="Sweet Text Box!" onkeydown="changed()"></textarea>
</div>
<div class="floatleft">
    <iframe id="display" name="display"></iframe>
</div>


<script>

  function changed() {
    console.log('Changed!');
  }

</script>
