<!DOCTYPE html>
<html>
    <head>
        <title>Textitor</title>
        <script src="https://use.fontawesome.com/aac5c45839.js"></script>
    </head>

    <body>
          <div class="parent">
            <div class="btn-group" role="group">

                <button style="font-size: 12px; font-weight: bold;" class="btn1" id="bold" onclick="styleEvent(styles.bold)">B</button>
                <button style="font-weight: bold; font-style: italic; font-family: Times;" class="btn1" id="italics" onclick="styleEvent(styles.italics)">I</button>
                <button style="text-decoration: line-through; font-weight: bold;" class="btn1" id="strikeThrough" onclick=""> S </button>
                <button class="btn1" id="alignLeft" onclick=""><i class="fa fa-align-left"></i></button>
                <button class="btn1" id="alighnCenter" onclick=""><i class="fa fa-align-center"></i></button>
                <button class="btn1" id="alignRight" onclick=""><i class="fa fa-align-right"></i></button>
                <button class="btn1" onclick=""><i class="fa fa-list-ul"></i></button>
                <button class="btn1" onclick=""><i class="fa fa-list-ol"></i></button>

              <!-- adds an html dropdown menu, allows user to choose font size-->

              Font: <select name="font" style="width:80px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){
                            toggleField(this,this.nextSibling);
                            this.selectedIndex='0';
                        }">
                  <option></option>
                  <option class="non" value ="8">8</option>
                  <option class="non" value ="9">9</option>
                  <option class="non" value ="10">10</option>
                  <option class="non" value ="11">11</option>
                  <option class="non" value ="12">12</option>
                  <option class="editable" value ="customOption">Custom Font</option></select><input name="font" style="display:none; width: 80px; padding: 0px; line-height: 13px;"
                  disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}">

              <!-- maybe a bit too complex to add a user input option here-->
              Type:  <select id = "fontstyle" style="width:130px;">
                  <option class="non" value ="Times New Roman">Times New Roman</option>
                  <option class="non" value ="Courier">Courier</option>
                  <option class="non" value ="Georgia">Georgia</option>
                  <option class="non" value ="Arial">Arial</option>
                  <option class="non" value ="Calibri">Calibri</option>
                </select>

                <button class="btn1" id="Save" onclick="download()">Save</button>
                <input class="btn1" style="padding: 0px; line-height: 13px; width: 140px;" type="file" id="yourFile" name="load" onchange="handleFiles(this.files)" accept="text/plain">

                <!-- need to restlyle the divs in this section-->

            </div>


                <textarea id="textbox" name="textbox" placeholder="box" value="" autofocus="true" style="font-family: courier; font-size: 12px; line-height: normal; margin: 0; padding: 0;"></textarea>
                <iframe id="display" name="display"></iframe>
          </div>





          <script>
              var textbox = document.getElementById('textbox');
              var states = [];
              var currentState;
              var newState = false;
              var richText = "";

              // kinda like an enumeration for styles
              var styles = {
                  bold: {startTag: "<b>", endTag: "</b>", id: "bold"},
                  italics: {startTag: "<i>", endTag: "</i>", id: "italics"}
              };

              function State(startIndex, endIndex) {
                  this.startIndex = startIndex;
                  this.endIndex = endIndex;
                  this.startTag = "<p>";
                  this.endTag = "</p>";
                  this.plainText = textbox.value.substring(startIndex, endIndex);
                  this.richText = this.startTag + this.plainText + this.endTag;
                  newState = true;

                  this.addStyle = function(styleType) {
                      this.startTag = this.startTag + styleType.startTag;
                      this.endTag = styleType.endTag + this.endTag;
                  }

                  this.removeStyle = function(styleType) {
                      this.startTag = this.startTag.replaceAll(styleType.startTag, "");
                      this.endTag = this.endTag.replaceAll(styleType.endTag, "");
                  }
              }

              window.onload = function() {
                  window.frames['display'].document.head.innerHTML = "<style type='text/css'> *{margin: 0px; padding: 0px;font-family: courier; font-size: 12px; line-height: normal; word-wrap: break-word;} p{display:inline;} </style>";

                  document.getElementById('textbox').value = ""; //sets the value of the textbox to nothing on page load
                  currentState = new State(0, textbox.selectionEnd); // creates an initial currentState
              }

              textbox.onkeyup = function(e){
                  handleStates(e);
                  encode();
                  renderDisplay();
              }

              function handleStates(e) {
                  console.log("e.keyCode: " + e.keyCode);
                  if (newState) {
                      states.push(currentState); //FIXME states need to be inserted in order
                      newState = false;
                  }

                  if (e.which > 31 || e.which === 13) {
                      currentState.endIndex++;
                  } else if(e.key === "Backspace") {
                      currentState.endIndex--;
                  } else if(e.key === "Enter") {
                      //currentState.richText.insert(textbox.selectionStart + currentState.startTag, "<br>"); // FIXME
                  }
              }

              function encode() {
                  richText = "";
                  for (var i = 0; i < states.length; i++) {
                      states[i].plainText = textbox.value.substring(states[i].startIndex, states[i].endIndex); // sets the plain text for this state
                      states[i].richText = states[i].plainText.replaceAll("\n", "<br>"); // adds newlines in richtext
                      states[i].richText = states[i].startTag + states[i].richText + states[i].endTag; // adds the start and end tags to rich text
                      richText += states[i].richText;
                      console.log(states[i]);
                  }
              }

              function renderDisplay() {
                  window.frames['display'].document.body.innerHTML = richText;
                  console.log(richText);
              }

              // returns the index of the state that the cursor is in
              function getCursorState() {
                  var i = 0;
                  for (i; i < states.length; i++) {
                      if (textbox.selectionStart >= states[i].startIndex && textbox.selectionStart < states[i].endIndex) return i;
                  }
                  return i;
              }

              // return the index of a given state from states[]
              function getStateIndex(myState) {

              }

              function styleEvent(styleType) {
                  changeCurrentState(styleType);
              }

              function changeCurrentState(styleType) {
                  var oldState = currentState;
                  currentState = new State(textbox.selectionStart, textbox.selectionEnd);
                  currentState.startTag = oldState.startTag;
                  currentState.endTag = oldState.endTag;
                  if (currentState.startTag.includes(styleType.startTag)) {
                      currentState.removeStyle(styleType);
                      document.getElementById(styleType.id).style.background = "lightgray"; //temporary
                  } else {
                      currentState.addStyle(styleType);
                      document.getElementById(styleType.id).style.background = "gray"; //temporary
                  }
              }

              function handleFiles(files) {
                  var file = files[0];
                  if (file) {
                      var reader = new FileReader();
                      reader.readAsText(file, "UTF-8");
                      reader.onload = function (evt) {
                          document.getElementById("textbox").value = evt.target.result;
                      }
                      reader.onerror = function (evt) {
                          document.getElementById("textbox").value = "error reading file";
                      }
                  }
              }

              // inserts a string into another string based on an index
              String.prototype.insert = function insert(index, string) {
                  if (index > 0) {
                      if (index < this.length) return this.substring(0, index) + string + this.substring(index, this.length);
                      else return this + string;
                  } else return string + this;
              };

              // removes the first occurance of a substring
              String.prototype.replaceAll = function replaceAll(oldSubstring, newSubstring) {
                  var regex = new RegExp(oldSubstring, "g");
                  return this.replace(regex, newSubstring);
              }
              //saves the plain text in textarea to downloads
              function download(){
                var text = document.getElementById("textbox").value;
                text = text.replace(/\n/g, "\r\n"); // To retain the Line breaks.
                var blob = new Blob([text], { type: "text/plain"});
                var anchor = document.createElement("a");
                anchor.download = "Textitorplain.txt";
                anchor.href = window.URL.createObjectURL(blob);
                anchor.target ="_blank";
                anchor.style.display = "none"; // just to be safe!
                document.body.appendChild(anchor);
                anchor.click();
                document.body.removeChild(anchor);
              }
              //switches focus from select field to input in font size selector.
              function toggleField(hideObj,showObj){
                hideObj.disabled=true;
                hideObj.style.display='none';
                showObj.disabled=false;
                showObj.style.display='inline';
                showObj.focus();
              }

          </script>

      </body>
  </html>
