<h1>Textboxes#textbox</h1>

<br>
<br>

<div class="mycontainer">
    <div class="floatleft">
        <button type="button" name="button" onclick="normal()">Normal</button>
    </div>
    <div class="floatleft">
        <button type="button" name="button" onclick="strong()">Bold</button>
    </div>
    <div class="floatleft">
        <button type="button" name="button" onclick="italics()">Italics</button>
    </div>
</div>

<br>
<br>

<div class="floatleft">
    <!-- Style="Display: none;"-->
    <textarea  id="textbox" value="" placeholder="Sweet Text Box!" onkeydown="keyPressed()"></textarea>
</div>
<div class="floatleft">
    <iframe id="display" name="display"></iframe>
</div>

<span id="ruler" style="visibility: hidden; white-space: nowrap;""></span>

<script type="text/javascript">
    var openTag = "<p style=\"display: inline;\">";
    var endTag = "</p>";
    var newText = "";
    var oldText = "";
    var textBox = document.getElementById("textbox");

    window.onload = function() {
        textBox.value = "";
    }

    document.body.onkeyup = function() {
        newText = textBox.value;
        window.frames['display'].document.body.innerHTML = oldText + openTag + newText + endTag;
        console.log(oldText + openTag +newText + endTag);
        console.log(textBox.selectionStart);
    }

    function stateChanged() {
        newText = openTag + newText + endTag;
        oldText = oldText + newText;
        newText = "";
        textBox.value = "";

    }

    function normal() {
        stateChanged();
        openTag = "<p style=\"display: inline;\">";
        endTag = "</p>";
    }

    function strong() {
        stateChanged();
        openTag = "<strong style=\"display: inline;\">";
        endTag = "</strong>";
    }

    function italics() {
        stateChanged();
        openTag = "<i style=\"display: inline;\">";
        endTag = "</i>";
    }

</script>
