
<head>

<meta name="viewport"
  content="width=device-width, initial-scale=1">
  <style>

    body {
      font-family: "Lato", sans-serif;
    }

  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;

}


.sidenav background {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav background:hover {
  color: #064579;
}
.main {
  margin-left: 140px;
  font-size: 28px;
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav background {font-size: 18px;}
}

</style>
</head>
<body>

<div class="sidenav">
  <background href="#About">About</background>
  <background href="#About Us">Services</background>
  <background href="#Save">Save</background>
  <background href="#Load">Load</background>
</div>
<div class="container">
<div class="jumbotron">
  <h2 style="font-size:300%"> Help page for Textitor<h2>

    <b> how do i sign up? </b>

    <p style="font-size:150%"> in case you missed the sign up button here it is: </p>
  </div>
</div>
  </body>
