<%= form_for(@document) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">



    <%= f.text_area :content, placeholder: "title me..." %>

  

  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
