<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help Page</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="text-center">HELP PAGE</h1>

      <hr class="my-4">
      <h3 class="text-center" style="color:red;">HOW DO I SIGN UP?</h3>
      <p class="text-center">
        You can sign up by using the Log in button on the left or the Sign Up button on the top right! Once you sign up you can use Textitor to its full
        potential by saving documents linked to your profile.
      </p>
      <hr class="my-4">
      <h3 class="text-center" style="color:red;">HOW DO I USE TEXTITOR?</h3>
      <p class="text-center">
        Textitor functions just like any other rich word processor except that it is completely online! It contains your standard rich text functions
        such as bold, italics, underline, strikethrough, and others. It also allows for numbered and bullet point lists as well as text alignment.
        This application also allows for changing font sizes as well as font types from a list of standard font sizes and font styles.
        Textitor recognizes standard hotkeys that many users know such as CTRL + B for bold, CTRL + I for italics, CTRL + U for underline, and CTRL + S for strikethrough.
        Tab is also recognized as an Indent as well as a button being created for this feature.
      </p>
      <p class="text-center">
        Textitor allows for saving and loading documents to and from your personal machine as well as to an account linked database. In order to use these features, You
        simply must name the document at the top left of the page and then, by clicking the download button, you can choose between saving plain or saving rich. click save plain to save your work to your local machine as a plain text file, .txt (which will not keep formatting if you have done any)
        or save rich to save your work to your local machine as a rich text file .rtx (This will keep rich formatting but note it will not work with apps such as Microsoft word unless the file is converted to XML!)
        You can also save a file to your profile which can be edited later by simply logging on again.
        </p>

      <hr class="my-4">
      <h3 class="text-center" style="color:red;">ABOUT US</h3>
      <p class="text-center" style="color:black;"> Textitor is a web based rich text editor designed as a class project for
        CS3250 at Metropolitan State University of Denver. Textitor allows its users to save and load rich text documents into
        its text field and to keep them all in order by organizing files for each user. If you find a bug please report it to our issues page
        <a href ="https://github.com/JedediahAlax/web-text-editor/issues">here</a>! Also note that Textitor was designed mainly for use in Chrome so
        if you find a bug with another browser please report that as well! Thank you for using our application!
      </p>
      <hr class="my-4">

    </div>

  </body>
</html>
