<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help Page</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 style=>HELP PAGE</h1>

      <hr class="my-4">
      <h3 class="text-center" style="color:red;">HOW DO I SIGN UP?</h3>
      <p>
        You can sign up by using the Log in button on the left or the Sign Up button on the top right!
      </p>

      <hr class="my-4">
      <h3 class="text-center" style="color:red;">ABOUT US</h3>
      <p style="color:black;"> Textitor is a web based rich text editor designed as a class project for
        CS3250 at Metropolitan State University of Denver. Textitor allows its users to save and load rich text documents into
        its text field and to keep them all in order by organizing files for each user. Try it now!</p>
      <hr class="my-4">

    </div>

  </body>
</html>
