
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textitor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>

<!--- Image Slider -->
<div class="container-fluid text-center">
<div id="slides" class="carousel slide" data-ride="carousel>
    <li data-target="#slides" data-slide-to="0" class="active"></li>
<div class="carousel-inner text-center">
  <div class="carousel-item active">
    <img src="assets/background.png">
    <div class="carousel-caption">
      <h1 class="display-2">Textitor!</h1>
      <h3>A rich-text web-based editor</h3>
      <%= link_to "NEW DOCUMENT", '/textboxes/textbox', class: "btn btn-outline-light btn-lrg" %>
      <%= link_to "MY DOCUMENTS", '/sessions/new', class: "btn btn-outline-light btn-lrg" %>
  </div>
</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid text-center my-5">
<div class="Jumbotron";>
  <h1 class="display-4"> Welcome to Textitor</h1>
   <p class="lead">A simple online text editor made just for you!</p>
   <hr class="my-4">
  <p>Built using Ruby on Rails!</p>
  <% if logged_in? %>
  <%= link_to "Use Textitor!", '/textboxes/textbox', class: "btn btn-lg btn-primary" %>
  <% else %>
  <%= link_to "Sign up!", '/users/new', class: "btn btn-lg btn-primary" %>
  
  <% end %>
</div>


</div>



<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Footer</h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" class="btn btn-outline-white btn-rounded">Link</a>
        </li>
      </ul>
      <!-- Call to action -->
    </div>
    <!-- Footer Elements -->
  </footer>
  <!-- Footer -->




</body>
</html>
