
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textitor</title>
</head>
<body>

<!-- Carasoul -->

<div class="container text-center">
<div class="carousel-inner text-center">
  <div class="carousel-item active">
    <img src="assets/background.png">
    <div class="carousel-caption">
      <h1 class="display-2">Textitor!</h1>
      <h2>A web-based rich-text editor</h2>
			<%= link_to "NEW DOCUMENT", '/textboxes/textbox', class: "btn btn-outline-light btn-lrg" %>
			<% if logged_in? %>
     		<%= link_to "MY DOCUMENTS", '/sessions/new', class: "btn btn-outline-light btn-lrg" %>
			<% else %>
			<%= link_to "LOG IN", '/sessions/new', class: "btn btn-outline-light btn-lrg" %>
			<% end %>
			<p> If you don't have an account you can create one from the log in page! </p>
		</div>
	</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid text-center my-5">
<div class="Jumbotron";>
	<hr class="my-4">
	<p>Built using Ruby on Rails and Javascript</p>
</div>
</div>
</body>
</html>
