iframe {
    background-color: white;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    resize: none;
    border: 2px solid black;
    display: inline-block;
    line-height: normal;
    margin: 0;
    padding: 40px;
    overflow: none;
    font-size: 14px;
}
