// Place all the styles related to the Textboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mycontainer {
    width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.floatleft {
    float: left;
    display: block;
    margin: auto;
}

textarea {
    display: block;
    margin: 8px;
    resize: none;
    width: 500px;
    height: 400px;
}

iframe {
    display: block;
    margin: 8px;
    resize: none;
    width: 500px;
    height: 400px;
}

button {
    width: 75px;
    height: 35px;
    text-align: center;
}
