
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Textitor", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help", '#' %></li>
        <li><%= link_to "Log in", '/sessions/new' %></li>
      </ul>
    </nav>
  </div>
</header>
