<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textitor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>

<!-- Navigation Bar-->
<body class="margin-top" style="padding-top: 0">
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/logo.png"><a/>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-traget="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">My Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sessions/new">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/splash_page/help">Help</a>
            <% if logged_in? %>
            <li><%= link_to "Use Textitor", '/textboxes/textbox' %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><%= link_to "Profile", current_user %></li>
    
                  <li class="dropdown-item"><%= link_to "Settings", "#" %> </li>
                  <li class="divider"></li>
                  <li class="dropdown-item">
                    <%= link_to "Log out", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
                <li><href="/sessions/new"></li>
            <% end %>
    
          </ul>
      </div>
  </div>
</nav>
</body>

